<main>
    <h1>Forgot password</h1>
    <h3>Please enter the email address you used to register with us. You will recieve reset token at that address.</h3>

    <div class="forgot-password-box">

    <form class="forgot-password-form container" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    
    <div class="row">

    <mat-form-field appearance="outline" class="col-md-12 input-field">
        <mat-label>E-mail address</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required') || forgotPasswordForm.get('email')?.hasError('email')">
        Please enter your e-mail address.
        </mat-error>
    </mat-form-field>

    </div>
    

    <button mat-button color="primary"
           
            type="submit"
            >Log in
    </button>

    </form>

    <hr>

    <p>
        <span class="dim-text">Don't have an account? </span>
        <a href="" class="sign-up-link">Sign up</a>
    </p>

    </div>

</main>
