
main {
  padding: 2rem;
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}


.form-card {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin-left: 0; 
  margin-right: auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.input-field
{
    margin-bottom: 35px;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .button-container button {
    width: 100%;
    justify-content: center;
  }
}

.mat-form-field-subscript-wrapper {
  min-height: 30px; 
}

// .form-card {
//   padding: 2rem;
//   max-width: 500px;
//   margin: 0 auto;
//   box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
// }

// .full-width {
//   width: 100%;
// }

// .button-container {
//   display: flex;
//   justify-content: flex-end;
//   margin-top: 1.5rem;

//   button {
//     display: flex;
//     align-items: center;
//     gap: 0.5rem;
//   }
// }




// main
// {
//     background-image: url('https://www.hervis.hr/store/_ui/desktop/common/images/background/bkg_cart_account_checkout.png');
//     background-size: cover; 
//     background-repeat: no-repeat;
//     padding-top: 100px;
//     padding-bottom: 100px;
// }

// h1,h3 
// {
//     text-align: center;
//     font-weight: bold;
//     color: #333;
// }

// .forgot-password-box 
// {
//     width: 40%;
//     margin: 0 auto;
//     border: 0.25px solid;
//     border-radius: 1%;
//     margin-top: 60px;
//     background-color: white;
//     //margin-bottom: 45px;
// }

// .dim-text 
// {
//     opacity: 0.5;
// }

// .sign-up-link 
// {
//     display: inline; 
// }

// .forgot-password-form
// {
//     width: 70%;
//     margin: 0 auto;
//     padding-top: 35px;
// }

// .input-field
// {
//     //width: 100%;
//     //margin-top: 20px;
//     margin-bottom: 20px;
// }

// .btn-send-data 
// {
//     width: 100%;
//     border-radius: 0.5px;
//     display: block;
//     margin-top: 30px;
//     margin-bottom: 30px;
// }


// @media (max-width: 992px) {
//   .forgot-password-box {
//     width: 85%;
//   }
// }

// @media (max-width: 576px) {
//   .forgot-password-box {
//     width: 95%;
//   }
// }