<!-- <app-administrator-dashboard-navigation></app-administrator-dashboard-navigation> -->
<!-- <div class="admin-content">
  <router-outlet></router-outlet>
</div> -->


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="/images/SportEdge-Logo.svg" alt="Logo" class="logo"/>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/brands">Manage Brands</a> 
      <a mat-list-item routerLink="/admin/categories">Manage Categories</a>
      <a mat-list-item href="#">Link 3</a>
      <a mat-list-item routerLink="/">Back to shop</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon class="menu-icon" aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="admin-board-title">Administrator dashboard</span>
    </mat-toolbar>

    <div class="admin-content">
      <div class="admin-content-item">
      <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>