<main>
    <div class="title-text">
        <h1>About us</h1>
    </div>

    <section>
    <h3>Who Are We</h3>
    <p>
      We’re a dedicated team of sports and lifestyle enthusiasts, bringing together performance-driven
      sports equipmentand stylish casual sportswear — all in one place.
      Whether you're hitting the gym, training on the field, or just dressing for comfort, we’ve got the gear you need.
    </p>
  </section>

  
  <div class="image-container">
        <img src="/images/about-us-page/store-clerk.jpg" class="image">
  </div>

  <section>
    <h3>What We Offer</h3>
    <ul>
      <li>Equipment for popular sports like football, basketball, fitness, tennis, and more</li>
      <li>Stylish sneakers, tracksuits, hoodies, and everyday athletic wear</li>
      <li>Trusted brands known for performance and comfort</li>
      <li>Smooth online shopping with fast and reliable delivery</li>
    </ul>
  </section>

  <section>
    <h3>Our Mission</h3>
    <p>
      To help you stay active, look great, and feel confident — whether you're competing,
      training, or just living life in motion.
    </p>
  </section>

  <section>
    <h3>Why Choose Us?</h3>
    <ul>
      <li>Carefully selected range of products for sport and lifestyle</li>
      <li>Easy-to-navigate webstore</li>
      <li>Competitive pricing</li>
      <li>Fast customer support and secure checkout</li>
    </ul>
  </section>

  <section>
    <h3>Let’s Stay Connected</h3>
    <p>
      Have questions? <a routerLink="/shop/contact">Contact us</a> — we are happy to help!
    </p>
  </section>
</main>
