<main>
  <mat-card class="form-card">
    <h1>Update brand</h1>
        <form class="container" [formGroup]="updateBrandForm" (ngSubmit)="onSubmit()">
            <div class="row">
                    <mat-form-field appearance="outline" class="col-md-12 full-width input-field">
                    <mat-label>Brand name</mat-label>
                    <input matInput formControlName="name">
                         <mat-error *ngIf="updateBrandForm.get('name')?.hasError('required')">
                        Name is required.
                        </mat-error>
                        <mat-error *ngIf="updateBrandForm.get('name')?.hasError('minlength')">
                         Must be at least 2 character.
                        </mat-error>
                        <mat-error *ngIf="updateBrandForm.get('name')?.hasError('maxlength')">
                        Must be at most 100 characters.
                        </mat-error>
                    </mat-form-field>
            </div>
            <div class="button-container">

                <button mat-button  type="button" (click)="onBack(brand.id)">
                <mat-icon>arrow_back</mat-icon>Back</button>

                <button mat-raised-button class="orange-button" type="submit">Update</button>
            </div>
        </form>
    </mat-card>
<main>
