.responsive-table-container {
  overflow-x: auto;
  width: 100%;
}

.full-width-table {
  min-width: 600px; 
  width: 100%;
}


.icon-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}


.expansion-spacing 
{
  margin-bottom: 16px;
}

.title 
{
  font-weight: 600;
}

.icon-right mat-icon {
  font-size: 24px;
  color:#222;;
}

.create-new-button {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
