
main {
  padding: 2rem;
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}


.form-card {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin-left: 0; 
  margin-right: auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.input-field
{
    margin-bottom: 35px;
}

.existing-images {
  margin-top: 16px;
}
.existing-images ul {
  padding-left: 16px;
}

.file-label 
{
  font-weight: 700;
}



input[type="file"] {
  display: block;
  margin-top: 8px;
}

.preview-container {
  margin: 10px 0;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}

.preview-container ul {
  padding-left: 20px;
}

.preview-container li {
  list-style-type: disc;
}


@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .button-container button {
    width: 100%;
    justify-content: center;
  }
}

.mat-form-field-subscript-wrapper {
  min-height: 30px; 
}