<main>
  <mat-card class="form-card">
    <h1>User details</h1>

    <div class="container">

      <div class="row">
        <mat-form-field appearance="outline" class="col-md-12 full-width" disabled>
          <mat-label>First Name</mat-label>
          <input matInput [value]="user?.firstName" readonly class="no-focus-input" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-12 full-width" disabled>
          <mat-label>Last Name</mat-label>
          <input matInput [value]="user?.lastName" readonly class="no-focus-input" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="col-md-12 full-width" disabled>
          <mat-label>Country</mat-label>
          <input matInput [value]="user?.country" readonly class="no-focus-input" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-12 full-width" disabled>
          <mat-label>City</mat-label>
          <input matInput [value]="user?.city" readonly class="no-focus-input" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="col-md-12 full-width" disabled>
          <mat-label>Address</mat-label>
          <input matInput [value]="user?.address" readonly class="no-focus-input" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="col-md-12 full-width" disabled>
          <mat-label>Date of Birth</mat-label>
          <input matInput [value]="user?.dateOfBirth | date:'MM/dd/yyyy'" readonly class="no-focus-input" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-12 full-width" disabled>
          <mat-label>Email</mat-label>
          <input matInput [value]="user?.email" readonly class="no-focus-input" />
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-button type="button" (click)="onBack()">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>

        <button mat-stroked-button color="warn" type="button" (click)="onDelete(user.id)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>

        <button mat-raised-button class="orange-button" type="button" (click)="onUpdate(user.id)">
          <mat-icon>edit</mat-icon>
          Update
        </button>
      </div>
    </div>
  </mat-card>


  <mat-accordion>

   
  <mat-expansion-panel class="expansion-spacing">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
      Orders table
      </mat-panel-title>
      <mat-panel-description class="icon-right">
        <mat-icon>table_chart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>



<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 1" #input>
</mat-form-field>

<div class="responsive-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

<ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Order id</th>
  <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
</ng-container>

<ng-container matColumnDef="date">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of order</th>
  <td mat-cell *matCellDef="let row"> {{ row.createdAt | date:'dd.MM.yyyy - HH:mm' }} </td>
</ng-container>


<ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef> Actions </th>
  <td mat-cell *matCellDef="let row">
    <div class="button-container-table">
      <button mat-raised-button color="primary" (click)="goToDetails(row.id,user.id)">Details</button>
      <button mat-raised-button color="primary" (click)="downloadOrderPdf(row.id)"><mat-icon>picture_as_pdf</mat-icon>
      Download PDF</button>
    
    </div>
 </td>
  
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of orders"></mat-paginator>
</div>
  </mat-expansion-panel>
</mat-accordion>




</main>
