<main>
  <!-- Container for large screen layout -->
  <div class="container mt-4 d-none d-lg-block">
    <div class="row">
      <div class="col-lg-3">
        <app-shop-products-filter (applyFilters)="applyFilters($event)">
        </app-shop-products-filter>
      </div>

      <div class="col-lg-9">
        <div *ngIf="!products || products.length === 0" class="no-products-message text-center">
          <h3>No products found.</h3>
        </div>
        <div class="row" *ngIf="products && products.length > 0">
          <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-6 mb-4">
            <!-- <mat-card class="product-card" (click)="viewProductDetails(product.id)">
              <ng-container *ngIf="hasImage(product); else noImageTemplate">
                <img 
                  mat-card-image 
                  [src]="getFirstImage(product)" 
                  alt="{{ product.name }}"
                >
              </ng-container>

              <ng-template #noImageTemplate>
                <div class="no-image-placeholder">
                  No image available
                </div>
              </ng-template>

              <mat-card-content>
                <h2 class="product-name">{{ product.name }}</h2>
                <p class="price">
                  <span *ngIf="product.discountedPrice != null && product.discountedPrice < product.price" class="original-price">
                    €{{ product.price }}
                  </span>
                  <span *ngIf="product.discountedPrice != null && product.discountedPrice < product.price" class="discount-price">
                    €{{ product.discountedPrice }}
                  </span>
                  <span *ngIf="product.discountedPrice == null || product.discountedPrice >= product.price">
                    €{{ product.price }}
                  </span>
                </p>
              </mat-card-content>
            </mat-card> -->
            <mat-card class="product-card" [class.disabled-card]="product.quantity === 0"
              (click)="product.quantity > 0 && viewProductDetails(product.id)">

                <span 
                  *ngIf="product.discountedPrice != null && product.discountedPrice < product.price"
                  class="discount-badge">
                  -{{ calculateDiscountPercentage(product.price, product.discountedPrice) }}%
                    </span>

              <ng-container *ngIf="hasImage(product); else noImageTemplate">
                <img mat-card-image [src]="getFirstImage(product)" alt="{{ product.name }}">
              </ng-container>

              <ng-template #noImageTemplate>
                <div class="no-image-placeholder">No image available</div>
              </ng-template>

              <mat-card-content>
                <h2 class="product-name">{{ product.name }}</h2>
                <p class="price">
                  <span *ngIf="product.discountedPrice != null && product.discountedPrice < product.price"
                    class="original-price">
                    €{{ product.price }}
                  </span>
                  <span *ngIf="product.discountedPrice != null && product.discountedPrice < product.price"
                    class="discount-price">
                    €{{ product.discountedPrice }}
                  </span>
                  <span *ngIf="product.discountedPrice == null || product.discountedPrice >= product.price">
                    €{{ product.price }}
                  </span>
                </p>
                <p class="out-of-stock-text" *ngIf="product.quantity === 0">
                  Out of stock
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button to open filter on small screens -->
  <!-- <div class="d-lg-none text-center mt-3">
    <button mat-raised-button color="primary" (click)="drawer.toggle()">
      Filter
    </button>
  </div> -->

  <!-- Drawer container for small screens -->
  <mat-drawer-container class="d-lg-none" style="height: 100vh;">

    <mat-drawer #drawer mode="over">
      <div class="drawer-content">
        <app-shop-products-filter [showTitle]="true" (applyFilters)="applyFilters($event,drawer)">
        </app-shop-products-filter>
      </div>
    </mat-drawer>

    <div mat-drawer-content>
      <!-- <div class="text-center mt-3">
      <button mat-raised-button color="primary" (click)="drawer.toggle()">
        Filter
      </button>
    </div> -->
      <div class="d-flex justify-content-start mt-3 ps-3">
        <button mat-button  (click)="drawer.toggle()">
           Filters  <mat-icon>tune</mat-icon>         
        </button>
      </div>

    </div>

    <div class="container mt-4">

      <div *ngIf="!products || products.length === 0" class="no-products-message text-center">
        <h3>No products found.</h3>
      </div>

      <div class="row" *ngIf="products && products.length > 0">
        <div *ngFor="let product of products" class="col-12 col-md-6 mb-4">
          <!-- <mat-card class="product-card" (click)="viewProductDetails(product.id)"> -->
             <mat-card class="product-card" [class.disabled-card]="product.quantity === 0"
              (click)="product.quantity > 0 && viewProductDetails(product.id)">

             <span 
                  *ngIf="product.discountedPrice != null && product.discountedPrice < product.price"
                  class="discount-badge">
                  -{{ calculateDiscountPercentage(product.price, product.discountedPrice) }}%
                    </span>

            <ng-container *ngIf="hasImage(product); else noImageTemplate">
              <img mat-card-image [src]="getFirstImage(product)" alt="{{ product.name }}">
            </ng-container>

            <ng-template #noImageTemplate>
              <div class="no-image-placeholder">
                No image available
              </div>
            </ng-template>

            <mat-card-content>
              <h2 class="product-name">{{ product.name }}</h2>
              <p class="price">
                <span *ngIf="product.discountedPrice != null && product.discountedPrice < product.price"
                  class="original-price">
                  €{{ product.price }}
                </span>
                <span *ngIf="product.discountedPrice != null && product.discountedPrice < product.price"
                  class="discount-price">
                  €{{ product.discountedPrice }}
                </span>
                <span *ngIf="product.discountedPrice == null || product.discountedPrice >= product.price">
                  €{{ product.price }}
                </span>
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-container>

</main>
