@use '@angular/material' as mat;
@include mat.core();


$custom-primary-palette: (
  50: #e0f0fa,
  100: #b3dbf2,
  200: #80c4e9,
  300: #4daddf,
  400: #269bd7,
  500: #2080c3,
  600: #1c73b1,
  700: #18639a,
  800: #145384,
  900: #0d3960,
  A100: #b3e0ff,
  A200: #80ccff,
  A400: #4db8ff,
  A700: #26aaff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

$custom-orange-palette: (
  50: #fff4e6,
  100: #ffe1bf,
  200: #ffcd99,
  300: #ffb873,
  400: #ffa752,
  500: #ff9c30,
  600: #e6892a,
  700: #cc7724,
  800: #b3651f,
  900: #804816,
  A100: #ffe1bf,
  A200: #ffcd99,
  A400: #ffa752,
  A700: #cc7724,
  contrast: (
    500: #000,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #fff,
  )
);


$custom-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$custom-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);


$custom-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.all-component-themes($custom-theme);

:root {
  // @include mat.divider-overrides((
  //   color: white,
  //   width: 2px,
  // ));
  @include mat.list-overrides((
    //list-item-label-text-color:white,
    //list-item-focus-label-text-color:white,
    //list-item-hover-label-text-color:white,
    list-item-label-text-weight:700,
  ));
}



.icon-button 
{
  @include mat.icon-button-overrides((
    //filled-container-color: orange,
    //filled-label-text-color: red,
    //hover-state-layer-opacity:, 
    //focus-state-layer-opacity, 
    //pressed-state-layer-opacity
    hover-state-layer-opacity: 0,
    focus-state-layer-opacity: 0,
    pressed-state-layer-opacity: 0,
  ));
}

.mat-divider-white-color 
{
   @include mat.divider-overrides((
    color: white,
    width: 2px,
  ));
}

.mat-divider-gray-color
{
    @include mat.divider-overrides((
    color: #bfbfbf,
    width: 0.5px,
  ));
}

.mobile-footer 
{
    @include mat.expansion-overrides((
    header-indicator-color:white,
  ));
}

.sidenav 
{
   @include mat.list-overrides((
    list-item-label-text-color:white,
    list-item-focus-label-text-color:white,
    list-item-hover-label-text-color:white,
    list-item-label-text-weight:700,
  ));
}


.orange-button {
  --mdc-protected-button-container-color: #{mat.m2-get-color-from-palette($custom-orange-palette, 500)};
  --mdc-protected-button-label-text-color: #{mat.m2-get-contrast-color-from-palette($custom-orange-palette, 500)};
  --mdc-protected-button-hover-state-layer-color: #{mat.m2-get-color-from-palette($custom-orange-palette, 600)};
}

.product-details-mat-tab 
{
  @include mat.tabs-overrides((
    divider-color: #bfbfbf,
    divider-height:0.5px,
    label-text-size: 1.1rem,
    active-ripple-color: none
    //active-indicator-height: 4px
    //active-indicator-color: orange,
  ));
}

.product-details-mat-expansion-panel
{
  @include mat.expansion-overrides((
    container-background-color: none,
    container-shape: 0,
    header-text-size: 1.1rem,
    header-hover-state-layer-color: none,
    header-focus-state-layer-color: none,
    header-text-color: #3f51b5,
    header-indicator-color: #3f51b5
    //active-ripple-color: none
  ));
}
