<main>
    <div class="title-text">
        <h1>General information</h1>
        <p>On this page you can find some general information and Frequently Asked Questions (FAQs) about our service.
        </p>
    </div>


<h2 class="accordion-title" id="privacy">Privacy Information</h2>
<mat-accordion class="custom-accordion">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Are the card details I use for purchasing secure?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      The confidentiality of your data is protected and ensured by SSL encryption. The online payment page is secured using Secure Socket Layer (SSL) protocol with 128-bit data encryption. SSL encryption is a process of encoding data to prevent unauthorized access during transfer. This allows for secure data transmission and prevents unauthorized access during communication between the user's computer and the paying service, and vice versa.
    </p>
    <p>
     The merchant does not store credit card numbers, and the numbers are not accessible to unauthorized persons.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        I forgot my password, what can I do?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Click the <strong>User Icon</strong> (in the top right corner of the page), then click <strong>Forgot your password?</strong> You’ll be asked to enter your email address, and a code to reset your password will be sent to your inbox.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What personal data do we collect?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      SportEdge collects various types of data, including personal data that may directly or indirectly identify you, if you or others choose to share such personal data with SportEdge. We collect data through several methods: making purchases in the online store, signing up, registering a user account, or visiting our website.
    </p>
    <p>The personal data we collect includes:</p>
    <ul>
      <li>
        Basic personal details such as your full name, date of birth, email address, residential address (street, house number, postal code, city, country), and delivery address.
      </li>
      <li>
        Purchase and payment method information (note: credit card data is not stored).
      </li>
      <li>
        Technical information from your browser, computer, or mobile device when accessing our services.
      </li>
    </ul>
  </mat-expansion-panel>

</mat-accordion>



<h2 class="accordion-title" id="returns">Returns</h2>

<mat-accordion class="custom-accordion">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What is the procedure for returning ordered products?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      In accordance with the Consumer Protection Act, you have the right to terminate the purchase agreement without providing a reason within 14 days from the date of product delivery. According to the law, you are responsible for the direct costs of returning the product if you decide to terminate your purchase.
    </p>
    <p>
      If you change your mind about a purchase or find that the size, color, model, etc. does not suit you after receiving your order, you can request an exchange or refund within the stated 14-day period. You can return the product to your nearest SportEdge store, or send it by mail/courier to the store from which the package was delivered. In this case, you are responsible for the shipping costs.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What is the procedure for filing a complaint about an ordered product?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      If you are dissatisfied with a product purchased on our website, have noticed a defect or damage, or if it occurred during proper use within 2 years of receiving the order, feel free to contact us. We will resolve your complaint as quickly as possible. See more details and the full procedure here: <strong>Customer Service – pick Complaints and Claims</strong>.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        The item I bought doesn’t fit – can I make an exchange?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Absolutely. You have the legal right to request an exchange for the same item in a different size or for another item within 14 days of receiving the product. You can either send the item back to the store from which it was delivered or visit your nearest SportEdge store to make the exchange in person.
    </p>
  </mat-expansion-panel>

</mat-accordion>


<h2 class="accordion-title" id="cookies">Cookies Usage</h2>

<mat-accordion class="custom-accordion">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cookies Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      In order for this website to function properly and to allow us to further improve it for a better browsing experience, a small amount of information (cookies) must be stored on your computer. More than 90% of all websites use this practice. In accordance with the new personal data protection regulation, especially the General Data Protection Regulation (GDPR), we are required to inform you about the use of cookies.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What is a cookie?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      A cookie is a piece of information stored on your computer by the website you visit. Cookies usually save your preferences for the website, such as your preferred language or address. Later, when you revisit the same website, your web browser sends back the cookies that belong to that site.
    </p>
    <p>
      This enables the website to display information tailored to your needs, as it remembers your actions and preferences over a period of time. Each time a user opens a page, the web server can read the values it previously stored in cookies.
    </p>
  </mat-expansion-panel>

</mat-accordion>

</main>