<main>
    <h1>Reset password</h1>
    <h3>Check your e-mail for reset toke. Enter reset token and your new password.</h3>

    <div class="reset-password-box">

    <form class="reset-password-form container" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    
    <div class="row">

    <mat-form-field appearance="outline" class="col-md-12 input-field">
        <mat-label>Password reset token</mat-label>
        <input matInput formControlName="token">
        <mat-error *ngIf="resetPasswordForm.get('token')?.hasError('required')">
        Please enter your password reset token.
        </mat-error>
    </mat-form-field>

    </div>

    <div class="row">

      <mat-form-field appearance="outline" class="input-field col-md-12">
        <mat-label>New password (at least 8 characters)</mat-label>
        <input matInput type="password" formControlName="newPassword1">
        <mat-error *ngIf="resetPasswordForm.get('newPassword1')?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('newPassword1')?.hasError('pattern')">
          Must include uppercase, lowercase, and digit.
        </mat-error>
      </mat-form-field>
    
    </div>


    <div class="row">

      <mat-form-field appearance="outline" class="input-field col-md-12">
        <mat-label>Repeat new password</mat-label>
        <input matInput type="password" formControlName="newPassword2">
        <mat-error *ngIf="resetPasswordForm.get('newPassword2')?.hasError('required')">
          Please repeat your new password.
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('newPassword2')?.touched">
        Passwords do not match.
      </mat-error>
    </div>
    

    <button mat-flat-button color="primary"
            class="btn-send-data "
            type="submit"
            >Reset password
    </button>

    </form>

    </div>
</main>